<div>
    {{main-header}}
    {{notification-list notifications=application.currentNotifications closeNotification='closeNotification'}}

</div>

<section>

  <div class="container" style="padding-top: 90px">
    <button class="btn btn-primary" style="float: right; vertical-align: top" {{action 'gotoRegister'}}>Register</button>
    </div>
    <br>
      <br>
      <br>
      <br>
    <form>
      <h2>Sign In</h2>
      <br>
        {{input type="email" class="ember-view ember-text-field form-control login-input" placeholder="Email" value=email}}
      <br>
        {{input type="password" class="ember-view ember-text-field form-control login-input-pass" placeholder="password" value=password}}



      <button class="btn btn-primary btn-block btn-center" type="submit" {{action 'login'}}>
        Sign In
        &nbsp;
      </button>
      <br>
    </form>

  <div>
      {{main-footer pushNotification='pushNotification'}}
  </div>
</section>

