<div>
  <br>
    <br>
    <br>

</div>

<section>{{notification-list notifications=application.currentNotifications closeNotification='closeNotification'}}

  <div class="container">

    <br>
      <br>
      <br>
      <br>
    <form>
      <h2>Sign In</h2>
      <br>
        {{input type="email" class="ember-view ember-text-field form-control login-input" placeholder="Email" value=email}}
      <br>
        {{input type="password" class="ember-view ember-text-field form-control login-input-pass" placeholder="password" value=password}}



      <button class="btn btn-primary btn-block btn-center" type="submit" {{action 'login'}}>
        Sign In
        &nbsp;
      </button>
      <br>
    </form>

  </div>

  <div>
      {{main-footer pushNotification='pushNotification'}}
  </div>
</section>

